footer {
  background-color: #3b4252;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #d8dee9;
}

.button {
  font-size: 20px;
  padding: 10px 10px;
  text-align: center;
  outline: 0;
  border: 0;
  background-color: #81a1c1;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px #fff;
  cursor: pointer;
  transition: background-color 400ms ease-in-out;
}
.button:hover {
  background-color: #5e81ac;
}
.button:active {
  background-color: #5e81ac;
  box-shadow: 0 5px #cbcbcc;
  transform: translatey(5px);
}
